body{
    background: #a65313;
    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    border: 0;
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    color: white;
    font-size: 30px;
}