@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin-left: auto;
    padding: auto;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: #FFF;
    background-color: #a65313;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
}

.descricao{
    width: 100%;
    display: flex;
    font-family: Poppins;
    align-items: center;
}