* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: #FFF;
    background-color: #a65313;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #d4881f;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}