body {
    background-color: #a65313;
}

.btn-bd-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-d4881f);
    --bs-btn-border-color: var(--bd-d4881f);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
  }

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: #d4881f;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}