* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #a65313;
    display: flex;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    border: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #d4881f;
    width: 450px;
    max-width: 100%;
}

.header {
    padding: 30px 40px;
}

.header h2 {
    font-weight: 600;
    color: #d4881f;
    font-size: 30px;
}